AUTH0_CLIENT_ID={CLIENT_ID}
AUTH0_DOMAIN={DOMAIN}
AUTH0_CLIENT_SECRET={CLIENT_SECRET}
AUTH0_CALLBACK_URL=http://localhost:3000/callback
AUTH0_AUDIENCE=https://{YOUR_DOMAIN}.auth0.com/userinfo
DATABASE_URI=mysql+mysqlconnector://username:password@localhost/db_name
