[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
authomatic = "*"
"auth0-python" = "*"
authlib = "*"
python-dotenv = "*"
requests = "*"
six = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.6"
