{% extends 'base.html' %}

{% block styles %}
<style>
</style>
{% endblock %}

{% block content %}
  <div id="cal-body">

    <h2>Burial Arrangements</h2>

    <img src="{{ url_for('static', filename='img/arrangements.jpeg') }}" style="width: 100%!important;">
    <br><hr><br>
    <img src="{{ url_for('static', filename='img/ba2.jpeg') }}" style="width: 100%!important;">
    <br><hr><br>
    <img src="{{ url_for('static', filename='img/ba3.jpeg') }}" style="width: 100%!important;">

    <br>
  </div>
{% endblock %}