{% extends 'base.html' %}

{% block styles %}
<style>
</style>
{% endblock %}

{% block content %}
  <div id="cal-body">

    <h2>Burial Arrangements</h2>

    <p>
      <strong>Tuesday, 10-07-2018:</strong><br>
      Service of songs at his residence. 3, Latunde street, off Tarred road busstop,
        Ago Palace way, Okota, Isolo, Lagos State by 4pm prompt.
    </p>

    <p>
      <strong>Wednesday, 11-07-2018:</strong><br>
      Lying in state at his residence. 3, Latunde street, off Tarred road busstop,
        Ago Palace way, Okota, Isolo, Lagos State by 7am prompt.
    </p>

    <p>
      <strong>Wednesday, 11-07-2018:</strong><br>
      Commendation service at st Paul's Anglican church,
        3/5, Baale street, Ishagatedo, Isolo Lagos State by 8am prompt.
    </p>

    <p>
      <strong>Thursday, 12-07-2018:</strong><br>
      Christian wakekeeping and Lying in state at his residence.
        Owatunmise street, off Hospital road, Isunko, Ikare Akoko Ondo state by 4pm prompt.
    </p>

    <p>
      <strong>Thursday, 12-07-2018:</strong><br>
      Christian wakekeeping and Lying in state at his residence.
        Owatunmise street, off Hospital road, Isunko, Ikare Akoko Ondo state by 4pm prompt.
    </p>

    <p>
      <strong>Friday, 13-07-2018:</strong><br>
      Funeral service at St Thomas's Anglican Church, Eshe Street, Ikare Akoko Ondo state by 10am prompt.
        Entertainment follows at Victory College, Ikare Akoko Ondo state.
    </p>

    <br>
  </div>
{% endblock %}