<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prince CA Latunde Memorial</title>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Josefin+Slab" rel="stylesheet">
    {% include 'inc/head.html' %}
    {% block styles %}{% endblock %}
</head>
<body>
    <!-- Header -->
    <header id="header" style="z-index: 3">
        {% block header %}{% endblock %}
        {% include 'inc/nav.html' %}
    </header>

    {% block content %}{% endblock %}

    {% include 'inc/foot.html' %}
    {% block scripts %}{% endblock %}
  </body>
</html>