{% extends 'base.html' %}

{% block styles %}
<style>
</style>
{% endblock %}

{% block content %}
  <div id="cal-body">

    <h2>Sir (Prince) Christopher Abiodun Latunde (KSC)</h2>
    <p>
        Sir (Prince) Christopher Abiodun Latunde was born on 29th March 1948 in Ikare,
        Akoko North East local government of Ondo State to a royal family
        (the Ilekalu Royal Family, a branch of Owalukare Ruling house) with a Christian background.
    </p>
    <p>
        <img src="{{ url_for('static', filename='img/daddy.min.jpg') }}" class="cal-pix fleft"
             alt="Sir (Prince) Christopher Abiodun Latunde">
        He started his primary education in 1955 at St. Thomas’ Anglican Primary School, Eshe, Ikare
        making him one of the first beneficiaries of Chief Obafemi Awolowo free education programme.
        His secondary school education took him to Victory College Ikare 1961-1962 and Ise Emure Grammar School,
        Emure, 1963-1965.  He worked briefly with Post & Telegraph department of Federal Ministry of Communication
        from 1966-1970 and in 1969, he passed three (3) subjects (Geography, History and Economics) in GCE “A” level
        conducted by University of London using Rapid Results College, a correspondence college.
    </p>
    <p>
        He travelled to the United States of America in 1970 in search of greener pastures.  While in the
        United States, he studied at Murray State University, Murray, Kentucky and Long Island University,
        Brooklyn, New York, where he obtained Bsc degree in Business Administration (1973) and MBA (1974)
        respectively. He was the District Manager of Equitable Life Assurance Society of United States –
        the second largest insurance company in the United States of America before returning home in 1976.
    </p>
    <p>
        Shortly before the establishment of Castlat (Nigeria) Limited, Prince had acquired working experience
        from SCOA, a French multinational and third largest trading company in Nigeria then.  He served there
        meritoriously for eight (8) years (1977-1985).
    </p>
    <p>
      Castlat Group of which he is the Chairman and Chief Executive now has 4 major subsidiaries namely:<br>
      <small>&#9659; Castlat Generators;</small><br>
      <small>&#9659; Castlat Airconditioners Coy. Ltd;</small><br>
      <small>&#9659; Castlatel Petroleum Engineering Coy;</small><br>
      <small>&#9659; Castlat Specialised Motors.</small>
    </p>
    <p>
      In addition, Castlat Group has USA and UK based sister companies viz:<br>
      <small>&#9659; Castlat Overseas Limited, UK;</small><br>
      <small>&#9659; Castlat Overseas Limited, USA.</small>
    </p>
    <p>
        As a businessman of high repute, he takes joy in the fact that he has been able to contribute positively
        to the lot of Nigerians, not just through employment but awards and donations to so many causes.
    </p>
    <p>
      Prince is a member of so many professional bodies and associations including:<br>
      <small>&#9659; Institute of Directors;</small><br>
      <small>&#9659; Nigerian Marketing Association;</small><br>
      <small>&#9659; Association of MBA Executives, USA;</small><br>
      <small>&#9659; Nigerian Institute of Management.</small>
    </p>
    <p>
      He is also a member of many Christian Association and social clubs including:<br>
      <small>Young Men Christian Association, Nigeria;</small><br>
      <small>Rotary International (a Paul Harris Fellow).</small>
    </p>
    <p>
        Amongst his contributions to God’s work, he single handed built and donated to his home Church, a 2000 capacity
        multi-purpose hall, a Church bus for evangelism and a Church clinic in-built into the hall.
    </p>
    <p>
        As a Philanthropist, some years back, he donated a 17-room hotel to SOS Children’s village and is presently
        being used as their female hostel.  He is Patron to so many Christian associations in and outside his own
        Church including::<br>
      <small>&#9659; Christian Progressives Association of Nigeria  - SPACI;</small><br>
      <small>&#9659; Busy Bees  -  Ebenezer Baptist Church, Lagos;</small><br>
      <small>&#9659; YMCA  -  St. John’s Anglican Church, Amukoko, Apapa;</small><br>
      <small>&#9659; YMCA – St. Andrew’s Anglican Church, Ipaja;</small><br>
      <small>&#9659; YMCA – St. Paul’s Anglican Church, Ishagetedo – Isolo;</small><br>
      <small>&#9659; CUB – St. Paul’s Anglican Church, Ishagatedo – Isolo;</small><br>
      <small>&#9659; The Choir, Boys &amp; Girls Brigade, Girls Guild all of St. Paul’s Anglican Church, Ishagatedo – Isolo.</small>
    </p>
    <p>
        In May 2000, he was recognized as one of the 2000 foremost Nigerians by UNIFECS of Obafemi Awolowo University, Ile-Ife.
    </p>
    <p>
        Sir (Prince) Latunde is happily married with children.
    </p>

    <br>
  </div>
{% endblock %}