{% extends 'base.html' %}

{% block styles %}
    {% include 'inc/landing.html' %}
{% endblock %}

{% block content %}
  <div id="cal-body">
    <h2>An Unknown Error Has Occurred &times;</h2>
    <p>
      You can:<br>
      <small><strong><a href="/index.html">&#9659; go to the homepage;</a></strong></small><br>
      <small><strong><a href="/pages/biography.html">&#9659; read the biography;</a></strong></small><br>
      <small><strong><a href="/pages/gallery.html">&#9659; view the photo gallery.</a></strong></small>
    </p>

    <br>
  </div>
{% endblock %}
