{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/photoswipe.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default-skin/default-skin.css') }}">
    {% include 'inc/landing.html' %}
    <style type="text/css">
    .cal-gallery span {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-touch-callout: none;
        background-size: cover;
        display: block;
        float: left;
        margin: 0 12px 12px 0;
        width: 171px;
        height: 171px;
        line-height: 0;
        overflow: hidden;
        cursor: pointer;
        border-radius: 10px;
    }
    .cal-gallery span.first {
        height: 342px;
        width: 342px;
    }

    @media screen and (max-width: 480px) {
        body, html {
            height: auto !important;
        }
        .cal-gallery span,
        .cal-gallery span.first {
            display: block !important;
            float: none !important;
            margin: 0 0 12px 0;
            height: 50vh !important;
            width: auto !important;
        }
    }
    </style>
{% endblock %}

{% block content %}
  <div id="cal-body">

    <h2>Photo Gallery</h2>
    <div class="cal-gallery">

        <span style="background-image: url('{{ url_for('static', filename='img/bg/01.jpg') }}')" class="px first"></span>
        <span style="background-image: url('{{ url_for('static', filename='img/bg/02.jpg') }}')" class="px"></span>
        <span style="background-image: url('{{ url_for('static', filename='img/bg/12.jpg') }}')" class="px"></span>
        <span style="background-image: url('{{ url_for('static', filename='img/bg/04.jpg') }}')" class="px"></span>
        <span style="background-image: url('{{ url_for('static', filename='img/bg/05.jpg') }}')" class="px"></span>
        <span style="background-image: url('{{ url_for('static', filename='img/bg/14.jpg') }}')" class="px"></span>
        <span style="line-height: 171px;" class="px button">View Gallery</span>

    </div>
    <br style="clear:both;">
    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="pswp__bg"></div>
            <div class="pswp__scroll-wrap">
                <!-- Container that holds slides.
                    PhotoSwipe keeps only 3 of them in the DOM to save memory.
                    Don't modify these 3 pswp__item elements, data is added later on. -->
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>

                <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                <div class="pswp__ui pswp__ui--hidden">
                    <div class="pswp__top-bar">
                        <div class="pswp__counter"></div>
                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                        <button class="pswp__button pswp__button--share" title="Share"></button>
                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                        <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                        <!-- element will get class pswp__preloader--active when preloader is running -->
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                              <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                              </div>
                            </div>
                        </div>
                    </div>

                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div>
                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                    </button>
                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                    </button>
                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>
                </div>
            </div>
        </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/photoswipe.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/photoswipe-ui-default.min.js') }}"></script>
<script type="text/javascript">

(function($) {
   $(document).ready(function(){
        $('.px')
        $(document).on('click', '.px', function viewGallery(evt) {
            console.log('clicked:', evt.target);
            var pswpElement = document.querySelectorAll('.pswp')[0];
            var items = [
                {
                    src: "{{ url_for('static', filename='img/bg/01.jpg') }}",
                    w: 1500,
                    h: 908
                },
                {
                    src: "{{ url_for('static', filename='img/bg/02.jpg') }}",
                    w: 1500,
                    h: 1121
                },
                {
                    src: "{{ url_for('static', filename='img/bg/03.jpg') }}",
                    w: 1920,
                    h: 1280
                },
                {
                    src: "{{ url_for('static', filename='img/bg/04.jpg') }}",
                    w: 1500,
                    h: 981
                },
                {
                    src: "{{ url_for('static', filename='img/bg/05.jpg') }}",
                    w: 1920,
                    h: 1280
                },
                {
                    src: "{{ url_for('static', filename='img/bg/06.jpg') }}",
                    w: 1920,
                    h: 1280
                },
                {
                    src: "{{ url_for('static', filename='img/bg/07.jpg') }}",
                    w: 1920,
                    h: 1280
                },
                {
                    src: "{{ url_for('static', filename='img/bg/08.jpg') }}",
                    w: 1920,
                    h: 1280
                },
                {
                    src: "{{ url_for('static', filename='img/bg/09.jpg') }}",
                    w: 1920,
                    h: 1280
                },
                {
                    src: "{{ url_for('static', filename='img/bg/10.jpg') }}",
                    w: 1920,
                    h: 1280
                },
                {
                    src: "{{ url_for('static', filename='img/bg/11.jpg') }}",
                    w: 1920,
                    h: 1080
                },
                {
                    src: "{{ url_for('static', filename='img/bg/12.jpg') }}",
                    w: 1920,
                    h: 1174
                },
                {
                    src: "{{ url_for('static', filename='img/bg/13.jpg') }}",
                    w: 1920,
                    h: 1280
                },
                {
                    src: "{{ url_for('static', filename='img/bg/14.jpg') }}",
                    w: 1920,
                    h: 1506
                },
                {
                    src: "{{ url_for('static', filename='img/bg/15.jpg') }}",
                    w: 1920,
                    h: 1280
                }
            ];
            var options = { index: 0 };
            var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.init();
        });
   });
})(jQuery);
</script>
{% endblock %}