<!-- Footer -->
<footer id="footer">
  <ul class="icons" style="display: none;">
    <li><a href="https://twitter.com/calatundememorial" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://www.instagram.com/calatundememorial/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
  </ul>
  <ul class="copyright">
      <li>Sir (Prince) Christopher Abiodun Latunde Memorial</li>
      <li>&copy; 2018 := <a href="mailto://eolowo@sulusoft.com">sulusoft.com</a></li>
  </ul>
</footer>

<!-- Scripts -->
<script src="/static/js/jquery-1.12.0.min.js"></script>
<script src="/static/js/main.js"></script>
